@media screen and (max-width: 375px) {


    section {
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    #resultados {
        width: 100%;
        height: 100%;
        border-radius: 0px 0px 20px 20px;
    }

    #paragrafo {
        width: 280px;
        font-size: 16px;
        padding: 5px 0px 40px 0px;
        margin-left: 10px;
    }


    #sumario {
        width: 100%;
        height: 100%;
    }

    .summary {
        width: 100%;
        margin-top: 25px;
        padding-left: 50px;
    }

    .summary img {
        margin-left: 20px;
        width: 22px;
    }

    .summary h1 {
        margin-bottom: 25px;
        font-weight: 800;
        font-size: 20px;
    }

    #reaction, #memory, #verbal, #visual {
        font-size: 13px;
        height: 50px;
        margin-top: 15px;
    }


    #reaction span {
        padding-right: 40px;
    }
    #memory span {
        padding-right: 40px;
    }
    #verbal span {
        padding-right: 40px;
    }
    #visual span {
        padding-right: 40px;
    }

    input {
        height: 50px;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 40px;
    }

}
